<footer class="footer">
  <small>
    <a href="#">© 2021 Copyright: basketball-search.com</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "basketball searchとは？",   '#' %></li>
      <li><%= link_to "利用規約", '#' %></li>
      <li><a href="#">プライバシーポリシー</a></li>
    </ul>
  </nav>
</footer>
