<footer class="footer">
  <small>
    <a href="#">© 2021 Copyright: basketball-search.com</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "basketball searchとは？", pages_about_path %></li>
      <li><%= link_to "利用規約", pages_terms_path %></li>
      <li><%= link_to "プライバシーポリシー", pages_policy_path %></li>
    </ul>
  </nav>
</footer>
