<div class="row">
  <div class="col-10 mx-auto">
    <footer class="footer mx-auto">  
        <nav class="wrapper">
          <ul class="wrapper-item">
            <li><%= link_to "「ストバスぽっと」とは？", pages_about_path, class: "item" %></li>
            <li><%= link_to "利用規約", pages_terms_path, class: "item" %></li>
            <li><%= link_to "プライバシーポリシー", pages_policy_path, class: "item" %></li>
          </ul>
        </nav>
    </footer>

    <footer>
      <div class="navbar navbar-expand-lg navbar-light justify-content-center col-10 mx-auto" style="background-color: #ffbf1f;">
        <p><small>&copy; 2021 ストバスぽっと</small></p>
      </div>
    </footer>
  </div>
</div>
