<button type="button" class="sidebtn btn-link pull-right" data-bs-toggle="modal" data-bs-target="#exampleModal">
  投稿方法についてはこちら
</button>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      <h5 class="modal-title" id="exampleModalLabel">投稿方法について</h5>
        <h6>レビュー場所を地名から検索する際には、「レビュー場所」に地名、公園名等を記入し検索ボタンをクリックしてください。 地名から住所が検索され、自動的に住所欄に住所が入力されますので、テキストを入力し投稿してください。</h6>
        <h6>また、地図をクリックすればクリックしたポイントにピンが立ち、住所が表示されます。 必要に応じて住所を変更した後、テキストを入力し投稿してください。</h6>
      </div>
    </div>
  </div>
</div>
