<% provide(:title, "BSK searchとは？") %>
<div class="about">
  <h1>BSK Searchとは?</h1>
  <p>BSK Searchはバスケットボールのゴールが設置してある公園を共有するサービスです。</p>
  <div class="basketball"></div>
  <p>
  外でバスケットボールをしたい時、ゴールスポットを知りたい時、是非BSK Searchを是非ご利用ください。
  <br>
  ゴールがある公園の状況を全国のユーザーと共有することができます。
  <br>
  BSK Searchを利用することで全国のユーザーと情報を交換し、運動不足を解消することができます。
  <br>
  さあ、今すぐBSK Searchに登録し素敵な時間を過ごしましょう！
  </p>
    <%= link_to "今すぐ登録する！", new_user_registration_path, class: " about-button btn-primary" %>
</div>
