<% provide(:title, "basketball search") %>
<h1>What is Basketball Search?</h1>
<p>Basketball Searchはバスケットボールのゴールスポットを共有するサービスです。</p>

<h1>What Can We do with Basketball Search?</h1>
<p>外でバスケットボールをしたい時、ゴールスポットを知りたい時、是非Basketball Searchを是非ご利用ください。
さらに、ゴールがある公園の状況を全国のユーザーと共有することができます。</p>

<h1>The Reoson We Should Use Basketball Search</h1>
<p>Basketball Searchを利用することによって同じ悩みを持つ全国のユーザーと情報を交換し、運動不足を解消することができます。
さあ、今すぐBasketball Searchに登録し素敵な時間を過ごしましょう！</p>

<%= link_to "今すぐ登録する！", new_user_registration_path %>
