body {
  background-color: #fafafa;
  font-size: 14px;
  color: #262626;
}

.btn {
  background: #00B4CC;
  border: 1px solid #00B4CC;
  font-size: 12px;
  &:hover {
    background: #00B4CC;
    border: 1px solid #00B4CC;
  }
}
