.profile-form-wrap {
  background: #fff;
  padding: 20px;
  border: 1px solid #e6e6e6;
}

.profile-form-wrap label {
  font-weight: bold;
}

.edit-profile-wrapper {
  margin-top: 60px;
}

.edit-botton {
  display: block;
  margin-top: 20px;
}

.destroy-user {
  color: red;
  justify-content: center;
  font-size: 0.75em;
  text-decoration: none;
}
